@using Microsoft.Extensions.Options
@using Project1
@model Project1.Models.Tasks
<tr>
    <td>@Model.EmployeeID</td>
    <td>@Model.TaskName</td>
    <td>@Model.StartTime</td>
    <td>@Model.DeadLine</td>
</tr>